@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}


:root {
  --primary: oklch(53.18% 0.28 296.97);
  --bg-color: oklch(97% 0.005 270);
  --text-color: oklch(19.37% 0.006 300.98);
  --radius: 1rem;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.success-snackbar {
  background-color: #4caf50; 
  color: white;
}

.error-snackbar {
  background-color: #f44336; 
  color: white;
}

.active {
  background-color: #e0e0e0; 
  font-weight: bold;
  border-left: 8px solid #3f51b5; 
}